@import "tailwindcss";


    
 /* Hide scrollbars but keep scrolling */
.scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  